<div  class="content">
    <div fxLayout="row wrap"  fxLayoutGap="16px grid">
      <div fxFlex="250px" *ngFor="let n of registros; let i=index ">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{registros[i].producto}} </mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="{{registros[i].imagen}} "
          />
          <mat-card-content>
            <p>{{registros[i].descripcion}}</p>
          </mat-card-content>
          <mat-card-content>
            <p>${{registros[i].precio}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Añadir al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>